<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">


  <link rel="apple-touch-icon" sizes="180x180" href="{{ " /assets/favicon/apple-touch-icon.png" | prepend: site.baseurl
    }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ " /assets/favicon/favicon-32x32.png" | prepend: site.baseurl
    }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ " /assets/favicon/favicon-16x16.png" | prepend: site.baseurl
    }}">
  <link rel="manifest" href="{{ " /assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ " /assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /assets/css/custom.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /assets/css/swiper-bundle.min.css" | prepend: site.baseurl }}">

  <script src="{{ " /assets/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ " /assets/js/jquery-3.7.0.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ " /assets/js/custom_post.js" | prepend: site.baseurl }}"></script>
  <script src="{{ " /assets/js/swiper-bundle.min.js" | prepend: site.baseurl }}"></script>

  <style>
    /* Stile del contenitore del logo */
    .logo-container {
      display: flex;
      align-items: center;
    }

    /* Stile dell'immagine del logo */
    .company-logo {
      max-width: 150px;
      /* Regola la dimensione massima del logo */
      height: auto;
      padding-right: 20px;
      /* Aggiunge un po' di spazio tra il logo e gli altri elementi */
    }

    /* Media queries per la responsività del logo */
    @media (max-width: 768px) {
      .company-logo {
        max-width: 120px;
        /* Riduce il logo sui tablet */
      }
    }

    @media (max-width: 480px) {
      .company-logo {
        max-width: 100px;
        /* Riduce ulteriormente il logo sugli smartphone */
      }
    }
  </style>

</head>

<body style="background: #fff;>
  <div class=" component-wrapper">
  <div class="styles_Wrapper__6ThWr" style="padding-bottom:0px">
    <div class="styles-NavigationContainer">
      <div id="nav-transparent" class="styles-transparent">
        <div id="navigation-desktop" class="styles-NavigationDesktop">


          <div class="styles-wrapper">
            <div class="styles-left">
              <div class="logo-container">
                <a>
                  <img src="/assets/img/logo.svg" alt="Logo azienda" class="company-logo">
                </a>
              </div>
              <!--
                  <a class="styles_Logo__NRSVM">
                  </a>
                  -->
              <!--
                <nav class="styles_NavLinks__gvRpL">
                  {%if page.language == "br"%}
                  <span class="styles_NavLinkContainer__AIYti">
                    <span>
                      <a class="styles_NavLink__NlrTV" href="/">Home</a>
                    </span>
                  </span>
                  <span class="styles_NavLinkContainer__AIYti">
                    <span>
                      <a class="styles_NavLink__NlrTV" href="/artigos">Artigos</a>
                    </span>
                  </span>
                  {% endif %}
                  {%if page.language == "en"%}
                  <span class="styles_NavLinkContainer__AIYti">
                    <span>
                      <a class="styles_NavLink__NlrTV" href="/">Home</a>
                    </span>
                  </span>
                  <span class="styles_NavLinkContainer__AIYti">
                    <span>
                      <a class="styles_NavLink__NlrTV" href="/news">News</a>
                    </span>
                  </span>
                  {% endif %}
                  {%if page.language == "it" %}
                  <span class="styles_NavLinkContainer__AIYti">
                    <span>
                      <a class="styles_NavLink__NlrTV" href="/">Home</a>
                    </span>
                  </span>
                  <span class="styles_NavLinkContainer__AIYti">
                    <span>
                      <a class="styles_NavLink__NlrTV" href="/articoli">Articoli</a>
                    </span>
                  </span>
                  {% endif %}
                </nav>
              -->
            </div>
            <!--
              <div class="styles-right">
                <div class="styles-CountryLangDropdown">
                  <div id="countryLangDd" class="styles-CountryLangDropdown">
                    <div class="styles-SelectedFlag">
                      {%if page.language == "br"%}
                      <span
                        style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                        <span
                          style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                          <img
                            style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
                            alt="" aria-hidden="true"
                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2726%27%20height=%2726%27/%3e">
                        </span>
                        <img alt="gb country" src="/assets/img/br.svg" decoding="async" data-nimg="intrinsic"
                          style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                          srcset="/assets/img/br.svg, /assets/img/br.svg 2x">
                        <noscript>
                          <img alt="br country" srcSet="/assets/img/br.svg 1x, /assets/img/br.svg 2x"
                            src="/assets/img/br.svg" decoding="async" data-nimg="intrinsic"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            loading="lazy" />
                        </noscript>
                      </span>
                      {% endif %}
                      {%if page.language == "en"%}
                      <span
                        style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                        <span
                          style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                          <img
                            style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
                            alt="" aria-hidden="true"
                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2726%27%20height=%2726%27/%3e">
                        </span>
                        <img alt="gb country" src="/assets/img/en.svg" decoding="async" data-nimg="intrinsic"
                          style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                          srcset="/assets/img/en.svg, /assets/img/en.svg 2x">
                        <noscript>
                          <img alt="en country" srcSet="/assets/img/en.svg 1x, /assets/img/en.svg 2x"
                            src="/assets/img/en.svg" decoding="async" data-nimg="intrinsic"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            loading="lazy" />
                        </noscript>
                      </span>
                      {% endif %}
                      {%if page.language == "it"%}
                      <span
                        style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                        <span
                          style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                          <img
                            style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
                            alt="" aria-hidden="true"
                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2726%27%20height=%2726%27/%3e">
                        </span>
                        <img alt="gb country" src="/assets/img/it.svg" decoding="async" data-nimg="intrinsic"
                          style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                          srcset="/assets/img/it.svg, /assets/img/it.svg 2x">
                        <noscript>
                          <img alt="it country" srcSet="/assets/img/it.svg 1x, /assets/img/it.svg 2x"
                            src="/assets/img/it.svg" decoding="async" data-nimg="intrinsic"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            loading="lazy" />
                        </noscript>
                      </span>
                      {% endif %}
                    </div>
                    <div id="caret-arrow" class="styles-Caret"><svg width="10" height="6" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="m1 1 4 4 4-4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg></div>
                  </div>
                  <div id="language-dropdown" class="undefined">
                    <div class="styles-Dropdown styles-enteredDropdown">
                      <div class="styles-CloseIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17">
                          <g fill="none" fill-rule="evenodd" stroke="#1b1b1b" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.308">
                            <path d="m.295.326 15.91 15.91M.295 16.411 16.205.501"></path>
                          </g>
                        </svg>
                      </div>
                      <div class="styles-Modal" style="display:none;">
                        <div class="styles-ArrowUp"></div>
                        <div class="styles-ModalContent">
                          <div class="styles-SelectionTitle">Select your Language</div>
                          <div class="styles-CountryLangList">
                            <a class="styles-LanguageLink" href="/artigos/{{page.name-br}}">
                              <div class="styles-Language">
                                <img class="styles-LanguageFlag" src="/assets/img/br.svg" alt="br flag">
                                <span class="styles-LanguageTitle">Portuguese</span>
                              </div>
                            </a>

                            <a class="styles-LanguageLink" href="/articoli/{{page.name-it}}">
                              <div class="styles-Language">
                                <img class="styles-LanguageFlag" src="/assets/img/it.svg" alt="it flag">
                                <span class="styles-LanguageTitle">Italiano</span>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            -->
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-1 col-sm-0 col-md-1 col-lg-1"></div>
      <div class="col-12 col-sm-10 col-md-7 col-lg-5">
        <h1>{{ page.title }}</h1>
        <!--
        {%if page.language == "br" and page.title != "Artigos" %}
        <nav id="breadcrumb-test" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/artigos/"">Artigos</a></li>
            <li class=" breadcrumb-item active" aria-current="page">{{ page.title }}</li>
          </ol>
        </nav>
        {% endif %}

        {%if page.language == "en" and page.title != "News" %}
        <nav id="breadcrumb-test" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/news/"">News</a></li>
            <li class=" breadcrumb-item active" aria-current="page">{{ page.title }}</li>
          </ol>
        </nav>
        {% endif %}

        {%if page.language == "it" and page.title != "Quiz" %}
        <nav id="breadcrumb-test" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/quiz/"">Quiz</a></li>
            <li class=" breadcrumb-item active" aria-current="page">{{ page.title }}</li>
          </ol>
        </nav>
        {% endif %}
        -->
        {{ content }}
      </div>
    </div>
</body>

</html>